result_video_2
result_video_1
result_video
source_video
__pycache__/functions_list.cpython-312.pyc
times_between.txt
times_one.txt
input_summary_bash.txt
__pycache__/functions_write_score_list.cpython-312.pyc
